.container
  %h2 
    %center 
      Katarzyna Kasprzak
  .jumbotron{style:'margin-top:10%'}
    %h1 Witaj!
    %p Tutaj możesz stworzyć swoje cv lub zobaczyć moje
    %p{style:'margin-top:20px'} 
      %btn.btn-primary.btn-lg{style:'margin-right:20px'} 
        = link_to 'Nowe CV', new_cv_path
      %btn.btn-primary.btn-lg
        = link_to 'Moje CV', cv_path(id=1)
